*{

  margin:0;
  padding: 0;
}
html,body{
  height: 100%;
  /* background-color:; */
  background-image: url("./back.svg");
  background-size:  3000px;
  background-position: center;
  backdrop-filter: blur(20px);

}
.header{


  height: 100vh;
  width: 100%;
}
